* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: gilroy;
}

html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
}

html,
body {
    height: 100%;
    width: 100%;
}